
body{
    font-family: 'poppins' , sans-serif;
}
p{
    text-align: justify;
    color: dimgray;
}
.half-width{
    width: 38%;
    float: left;
    margin: 4%;
    padding: 2%;
}
section{
    height: 550px;
    padding-bottom: 40px;
}
.half-width img{
    width: 90%;
}
.top-h1{
    color: #ff9f43;
    font-size: 40px;
}
.link-button1{
    text-decoration: none;
    background-image: linear-gradient(45deg, #d87518, #feca57);
    padding: 7px 20px;
    border-radius: 7px;
    color: white;
    box-shadow: 4px 1px 7px gray;
    font-family: 'Red Rose', cursive;
}
.link-button1:hover{
    background: #d87518;
}
.header-bg{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(45deg, #FC427B, #5f27cd);
    padding: 7px 20px;
    border-radius: 7px;
    color: white;
    box-shadow: 4px 1px 7px gray;
    font-family: 'Red Rose', cursive;
}
.link-button2:hover{
    background: #5f27cd;
}
.biography-h1{
    font-size: 40px;
    color: #FC427B;
}
.biography-bg{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}    